@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.scss';
body {
    font-family:'Montserrat', sans-serif !important;
    background: $primary-color;
}
html {
    scroll-behavior: smooth;
  }
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section {
    margin-bottom: 170px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 2000px;
    align-items: center;
    justify-content: center;
}
h2 {
    font-size: $font-size-titleSection;
    color: $secondary-color;
    font-weight: 700;
    margin-bottom: 60px;
}
h3 {
    font-size: $font-size-subTitle;
    color: $secondary-color;
    font-weight: 600;
    margin-bottom: 30px;
}
p {
    font-size: $font-size-explainText;
    color: $light-black-font;
    font-weight: normal;
    margin-bottom: 20px;
}
a {
    cursor: pointer;
}
input:not([type="file"]):not([type="checkbox"]), textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    appearance: none; /* Pour supprimer le style par défaut dans certains navigateurs */
    -webkit-appearance: none; /* Pour Chrome et Safari */
    -moz-appearance: none; /* Pour Firefox */
}

/* Pour supprimer la bordure lors de la mise au point (focus) dans certains navigateurs */
input[type="text"]:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}
.navBar__burger {
    display: none;
}

@media screen and (max-width: 1250px) {
    .navBar {
        padding: 10px 3% !important;
    }
    .navBar__reseaux {
        display: none !important;
    }
    .navBar__burger {
        display: flex !important;
        width: 48px;
        cursor: pointer;
    }
    .aboutHome {
        padding: 0 3% !important;
    }
}