// Couleurs
$primary-color: white;
$secondary-color: #1B1B1B ;
$gray-bg: rgba(46, 46, 46, 0.08);
$light-black-font: #333333;
$light-blue : #e5f3fa;

// Tailles de police
$font-size-button: 20px;
$font-size-titleSection: 52px;
$font-size-subTitle: 36px;
$font-size-explainText: 20px;
$font-size-xlarge: 32px;
$font-size-texte: 16px;


// Mobile 800px
$font-size-button-mobile: 12px;
$font-size-titleSection-mobile: 52px;
$font-size-subTitle-mobile: 36px;
$font-size-explainText-mobile: 12px;
$font-size-xlarge-mobile: 32px;
$font-size-texte-mobile: 16px;