// Couleurs
$primary-color: white;
$secondary-color: #1B1B1B ;
$gray-bg: rgba(46, 46, 46, 0.08);
$light-black-font: #333333;

// Tailles de police
$font-size-button: 20px;
$font-size-titleSection: 52px;
$font-size-explainText: 20px;
$font-size-xlarge: 32px;

